.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
}

.Scala-logo {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    margin: auto;
    height: 34px;
}

.App-header {
    text-align: center;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
    text-align: center;
}

.spanner {
    margin-right: 30px;
}

.user-icon {
    padding: 0 !important;
    border: 0 !important;;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
